body {
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}
input{
    background-color: black;
    outline:none;
    border:solid white 1px;
    color:white;
    padding:25px;
    border-radius: 12px;
}
